<div *ngIf="loading" class="loading">
    A long time ago in a galaxy far, far away....
</div>
<div *ngIf="!loading">
  <div class="panel panel-sw">
    <div class="panel-heading">
      {{ character.name }}
    </div>
    <div class="panel-body" id="character">
      <div class="row">
        <div class="col-sm-6">

          <div class="image">
            <img src="/assets/images/characters/{{character.name}}.jpg" />
          </div>
        </div>
        <div class="col-sm-6">
          <table class="table">
            <tbody>
              <tr>
                <td>Birth Year:</td>
                <td>{{ character.birth_year }}</td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td>{{ character.gender }}</td>
              </tr>
              <tr>
                <td>Height:</td>
                <td>{{ character.height }}</td>
              </tr>
              <tr>
                <td>Weight:</td>
                <td>{{ character.mass }}</td>
              </tr>
              <tr>
                <td>Hair Color:</td>
                <td>{{ character.hair_color }}</td>
              </tr>
              <tr>
                <td>Skin Color:</td>
                <td>{{ character.skin_color }}</td>
              </tr>
              <tr>
                <td>Eye Color:</td>
                <td>{{ character.eye_color }}</td>
              </tr>
              <tr>
                <td>Weight:</td>
                <td>{{ character.mass }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-sw" *ngIf="films">
    <div class="panel-heading">      
      {{ character.name }}'s Films
    </div>
    <div class="panel-body">
      <div class="row" *ngIf="!loading">
        <div *ngFor="let film of films" class="col-sm-3">
          <div class="film">

            <span class="episode">EPISODE {{ film.episode_id }}</span>
            <div class="image">
              <img src="/assets/images/films/{{film.episode_id}}.jpg" />
            </div>
            <span class="episode">{{ film.title }}</span>
            <span class="release">{{ film.release_date | date:'EEEE, MMMM d yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>