<div class="panel panel-sw" *ngIf="Global.images">
  <div class="panel-heading">Characters</div>

  <div class="panel-body">

    <div class="row">
      <div *ngFor="let character of Global.characters" class="col-sm-3">
        <div class="character" (click)="redirectToCharacter(character.name)">
          <div class="image">
            <img src="/assets/images/characters/{{character.name}}.jpg" />
          </div>
          <span class="name">{{ character.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>